MQTT_BROKER="broker url"
MQTT_PORT="connector port"
MQTT_DATA_TOPIC="data-topic"  # Wildcard para capturar cualquier ID de dispositivo
MQTT_INCIDENT_TOPIC="incident-topic"
MQTT_CONN_TOPIC="connection-topic"
MQTT_USERNAME="mqtt-username"
MQTT_PASSWORD="mqtt-password"
INFLUX_URL="influxdb-url"
INFLUX_TOKEN="influxdb-token"
INFLUX_ORG="influxdb-org"
INFLUX_BUCKET="influxdb-bucket"